[Desktop Entry]
Exec=webexconsole
Type=Application
Categories=Qt;KDE;System;
Name=WebExtractorConsole
Name[es]=Consola de extracción web
Name[et]=Veebiekstraktori konsool
Name[fr]=WebExtractorConsole
Name[hu]=WebBeolvasóKonzol
Name[km]=WebExtractorConsole
Name[nds]=Nettruttrecker-Konsool
Name[nl]=WebExtractorConsole
Name[pl]=WebExtractorConsole
Name[pt]=Consola de Extracção da Web
Name[pt_BR]=Console de extração da Web
Name[sk]=Konzola WebExtractor
Name[sv]=Konsol för webbextrahering
Name[uk]=Консоль видобування інтернет-даних
Name[x-test]=xxWebExtractorConsolexx
Name[zh_TW]=網頁展開主控台
GenericName=Web Extractor Console
GenericName[es]=Consola de extracción web
GenericName[et]=Veebiekstraktori konsool
GenericName[fr]=Console de l'extracteur Web
GenericName[hu]=Web beolvasó konzol
GenericName[km]=កុងសូល​​កម្មវិធី​ស្រង់ចេញ​តាម​បណ្ដាញ
GenericName[nds]=Nett-Ruttrecker-Konsool
GenericName[nl]=Console voor webextractie
GenericName[pl]=Konsola wydobywania z sieci
GenericName[pt]=Consola de Extracção da Web
GenericName[pt_BR]=Console do extrator da Web
GenericName[sk]=Konzola WebExtractor
GenericName[sv]=Konsol för webbextrahering
GenericName[uk]=Консоль видобування інтернет-даних
GenericName[x-test]=xxWeb Extractor Consolexx
GenericName[zh_TW]=網頁展開主控台
Terminal=false

