[Desktop Entry]
Exec=webexconsole
Type=Application
Categories=Qt;KDE;System;
Name=WebExtractorConsole
Name[uk]=Консоль видобування даних з мережі
Name[x-test]=xxWebExtractorConsolexx
GenericName=Web Extractor Console
GenericName[uk]=Консоль видобування даних з мережі
GenericName[x-test]=xxWeb Extractor Consolexx
Terminal=false

