[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Nepomuk/WebExtractorPlugin
Name=Web Extractor Plugin
Name[de]=Web-Extractormodul
Name[es]=Complemento de extracción web
Name[et]=Veebiekstraktori plugin
Name[fr]=Module externe de l'extracteur Web
Name[ga]=Breiseán Scríobaire Gréasáin
Name[hu]=Web beolvasó bővítmény
Name[km]=កម្មវិធី​ជំនួយ​របស់​កម្មវិធី​ស្រង់ចេញ​តាមបណ្ដាញ
Name[nds]=Nett-Ruttrecker-Moduul
Name[nl]=Plugin voor webextractie
Name[pl]=Wtyczka wydobywania z sieci
Name[pt]='Plugin' de Extracção da Web
Name[pt_BR]=Plugin do extrator da Web
Name[sk]=Plugin Web Extractor
Name[sv]=Insticksprogram för webbextrahering
Name[tr]=Web Dışa Aktarım Eklentisi
Name[uk]=Додаток видобування інтернет-даних
Name[x-test]=xxWeb Extractor Pluginxx
Name[zh_TW]=網頁展開器外掛程式

[PropertyDef::X-WebExtractor-Name]
Type=QString


