[Desktop Entry]
 Type=Service
 X-KDE-ServiceTypes=Nepomuk/WebExtractorPlugin
 X-KDE-Library=webexplugin_autotag
 X-WebExtractor-Name=autotag
 Name=Autotag 
 Comment=Tagging everything based on the regular expressions

