[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Nepomuk/WebExtractorPlugin
Name=Web Extractor Plugin
Name[en_GB]=Web Extractor Plugin
Name[km]=ការកំណត់​កម្មវិធី​ស្រង់​បណ្តាញ​ចេញ
Name[pt]='Plugin' de Extracção da Web
Name[pt_BR]=Plug-in do extrator da Web
Name[uk]=Додаток видобування інтернет-даних
Name[x-test]=xxWeb Extractor Pluginxx

[PropertyDef::X-WebExtractor-Name]
Type=QString


