[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Nepomuk/WebExtractorPlugin
X-KDE-Library=webexplugin_tvdb
X-WebExtractor-Name=tvdb
Name=thetvdb webextractor plugin
Name[bs]=thetvdb webextractor priključak
Name[de]=Web-Extractormodul für TheTVBT
Name[es]=complemento de extracción web de thetvdb
Name[et]=thetvdb veebiekstraktori plugin
Name[fi]=thetvdb:n Web Extractor -liitännäinen
Name[fr]=Module externe d'extraction d'informations à partir du site Web « thetvdb » (site en anglais)
Name[gl]=complemento the extracción de web de thetvdb
Name[hu]=thetvdb webbeolvasó bővítmény
Name[km]=កម្មវិធី​ជំនួយ thetvdb webextractor
Name[ko]=thetvdb 웹 추출기 플러그인
Name[mr]=दटीव्हीडीबी वेब-एक्र्टेक्टर  प्लगइन
Name[nl]=Plugin voor thetvdb-webextractor
Name[pl]=wtyczka wydobywania z sieci thetvdb
Name[pt]='Plugin' de Extracção da Web do thetvdb
Name[pt_BR]=Plugin de extração da Web do thetvdb
Name[sk]=plugin webového extraktova thetvdb
Name[sv]=Insticksprogram för webbextrahering från thetvdb
Name[tr]=thetvdb webçıkarıcı eklentisi
Name[uk]=Додаток видобування інтернет-даних thetvdb
Name[x-test]=xxthetvdb webextractor pluginxx
Name[zh_TW]=thetvdb 網頁展開器設定
Comment=A webextractor plugin which fetches TV series information from thetvdb.com.
Comment[bs]=Priključak za vađenje iz web-a televizijskih informacija s thetvdb.com.
Comment[de]=Ein Web-Extractormodul, das Informationen über TV-Serien von thetvdb.com holt
Comment[es]=Un complemento que extrae información de series de TV de la web thetvdb.com.
Comment[et]=Veebiekstraktori plugin, mis tõmbab telesaadete teavet thetvdb.com-ist.
Comment[fi]=WebExtractor-liitännäinen, joka noutaa TV-sarjatietoja thetvdb.comista
Comment[fr]=Un module externe d'extraction Web allant chercher les informations sur les séries TV à partir du site « thetvdb.com » (site en anglais)
Comment[gl]=Un complemento webextractor que busca a información de series de TV da páxina thetvdb.com.
Comment[hu]=Egy webbeolvasó bővítmény, amely lekéri a TV-sorozat információkat a thetvdb.com oldalról.
Comment[km]=កម្មវិធី​ជំនួយ webextractor ដែល​ទៅ​យក​ព័ត៌មាន​អំពី​សេរី​ទូរទស្សន៍​​ពី thetvdb.com​ ។
Comment[ko]=thetvdb.com에서 TV 시리즈 정보를 가져오는 웹 추출기 플러그인입니다.
Comment[mr]=thetvdb.com वरून टीव्ही मालिकांची माहिती घेणारे वेब-एक्र्टेक्टर  प्लगइन.
Comment[nl]=Een plugin voor webextractor die informatie over tv-series ophaalt van thetvdb.com.
Comment[pl]=Wtyczka wydobywania sieci, która pobiera informacje o serialach w TV z thetvdb.com.
Comment[pt]=Um 'plugin' de extracção Web que obtém informações de séries da TV a partir do thetvdb.com.
Comment[pt_BR]=Um plugin de extração da Web que obtém informações de séries da TV a partir do thetvdb.com.
Comment[sk]=Plugin webového extraktora, ktorý natiahne informácie o TV seriáloch z thetvdb.com
Comment[sv]=Ett insticksprogram för webbextrahering som hämtar information om tv-serier från thetvdb.com.
Comment[tr]=TV dizisi bilgilerini thetvdb.com'dan alan bir webçıkarıcı eklentisi
Comment[uk]=Додаток видобування даних з інтернету для отримання відомостей щодо телевізійних серіалів з thetvdb.com.
Comment[x-test]=xxA webextractor plugin which fetches TV series information from thetvdb.com.xx
Comment[zh_TW]=從 thetvdb.com 取得 TV 系列資訊的網頁展開器外掛程式。
