[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Nepomuk/WebExtractorPlugin
X-KDE-Library=webexplugin_tvdb
X-WebExtractor-Name=tvdb
Name=thetvdb webextractor plugin
Name[es]=complemento de extracción web de thetvdb
Name[km]=កម្មវិធី​ជំនួយ thetvdb webextractor
Name[nl]=Plugin voor thetvdb-webextractor
Name[pt]='Plugin' de Extracção da Web do thetvdb
Name[pt_BR]=Plug-in de extração da Web do thetvdb
Name[sv]=Insticksprogram för webbextrahering från thetvdb
Name[uk]=Додаток видобування інтернет-даних thetvdb
Name[x-test]=xxthetvdb webextractor pluginxx
Name[zh_TW]=thetvdb 網頁展開器設定
Comment=A webextractor plugin which fetches TV series information from thetvdb.com.
Comment[es]=Un complemento que extrae información de series de TV de la web thetvdb.com.
Comment[km]=កម្មវិធី​ជំនួយ webextractor ដែល​ទៅ​យក​ព័ត៌មាន​អំពី​សេរី​ទូរទស្សន៍​​ពី thetvdb.com​ ។
Comment[nl]=Een plugin voor webextractor die informatie over tv-series ophaalt van thetvdb.com.
Comment[pt]=Um 'plugin' de extracção Web que obtém informações de séries da TV a partir do thetvdb.com.
Comment[pt_BR]=Um plug-in de extração da Web que obtém informações de séries da TV a partir do thetvdb.com.
Comment[sv]=Ett insticksprogram för webbextrahering som hämtar information om tv-serier från thetvdb.com.
Comment[uk]=Додаток видобування даних з інтернету для отримання відомостей щодо телевізійних серіалів з thetvdb.com.
Comment[x-test]=xxA webextractor plugin which fetches TV series information from thetvdb.com.xx
Comment[zh_TW]=從 thetvdb.com 取得 TV 系列資訊的網頁展開器外掛程式。
