[Desktop Entry]
Exec=kcmshell4 webextractorconfig
#Exec=kcmshell4 powerdevilconfig

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_webexconfig
#X-KDE-Library=kcm_powerdevilconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware
Name=Web Extractor Settings
Name[es]=Preferencias de extracción web
Name[et]=Veebiekstraktori seadistused
Name[km]=ការ​កំណត់​កម្មវិធី​ស្រង់ចេញ​តាមបណ្ដាញ
Name[nds]=Nett-Ruttrecker instellen
Name[nl]=Instellingen voor webextractie
Name[pt]=Configuração da Extracção da Web
Name[pt_BR]=Configurações do extrator da Web
Name[sv]=Inställningar av webbextrahering
Name[uk]=Параметри видобування інтернет-даних
Name[x-test]=xxWeb Extractor Settingsxx
Name[zh_TW]=網頁展開器設定
