[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Nepomuk/WebExtractorPlugin
Name=Web Extractor Plugin
Name[nds]=Nett-Ruttrecker-Moduul
Name[pt]='Plugin' de Extracção da Web
Name[pt_BR]=Plug-in do extrator da Web
Name[sv]=Insticksprogram för webbextrahering
Name[uk]=Додаток видобування інтернет-даних
Name[x-test]=xxWeb Extractor Pluginxx

[PropertyDef::X-WebExtractor-Name]
Type=QString


