[Desktop Entry]
Exec=webexconsole
Type=Application
Categories=Qt;KDE;System;
Name=WebExtractorConsole
Name[pt]=Consola de Extracção da Web
Name[pt_BR]=Console de extração da Web
Name[sv]=Konsol för webbextrahering
Name[uk]=Консоль видобування даних з мережі
Name[x-test]=xxWebExtractorConsolexx
GenericName=Web Extractor Console
GenericName[pt]=Consola de Extracção da Web
GenericName[pt_BR]=Console do extrator da Web
GenericName[sv]=Konsol för webbextrahering
GenericName[uk]=Консоль видобування даних з мережі
GenericName[x-test]=xxWeb Extractor Consolexx
Terminal=false

