[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Nepomuk/WebExtractorPlugin
X-KDE-Library=webexplugin_tvdb
X-WebExtractor-Name=tvdb
Name=thetvdb webextractor plugin
Name[pt]='Plugin' de Extracção da Web do thetvdb
Name[sv]=Insticksprogram för webbextrahering från thetvdb
Name[uk]=Додаток видобування інтернет-даних thetvdb
Name[x-test]=xxthetvdb webextractor pluginxx
Comment=A webextractor plugin which fetches TV series information from thetvdb.com.
Comment[pt]=Um 'plugin' de extracção Web que obtém informações de séries da TV a partir do thetvdb.com.
Comment[sv]=Ett insticksprogram för webbextrahering som hämtar information om tv-serier från thetvdb.com.
Comment[uk]=Додаток видобування даних з інтернету, для отримання відомостей щодо телевізійних серіалів з thetvdb.com.
Comment[x-test]=xxA webextractor plugin which fetches TV series information from thetvdb.com.xx
