[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Nepomuk/WebExtractorPlugin
X-KDE-Library=webexplugin_tvdb
X-WebExtractor-Name=tvdb
Name=thetvdb webextractor plugin
Name[uk]=Додаток видобування інтернет-даних thetvdb
Name[x-test]=xxthetvdb webextractor pluginxx
Comment=A webextractor plugin which fetches TV series information from thetvdb.com.
Comment[uk]=Додаток видобування даних з інтернету, для отримання відомостей щодо телевізійних серіалів з thetvdb.com.
Comment[x-test]=xxA webextractor plugin which fetches TV series information from thetvdb.com.xx
