#set lname = $name.lower()
#set uname = $name.upper()
#set tname = 'webexplugin_' + $lname
#set binp = "${CMAKE_CURRENT_BINARY_DIR}/"
#set src = $lname + '_plugin_SRCS'
#set evalsrc = "${"+ $src + "}"
#set kcmname = 'webexplugin_' + $lname + '_kcm'
#set kcmsrc = $lname + '_kcm_SRCS'
#set kcmevalsrc = "${" + $kcmsrc + "}"

project($tname)
cmake_minimum_required(VERSION 2.6)

set (QT_MIN_VERSION "4.6.0")
set (QT_USE_QTNETWORK true)


find_package(KDE4  REQUIRED)
find_package(Nepomuk REQUIRED)

#raw
# check for required packages
if(BUILD_METAPACKAGE)
    # if BUILD_METAPACKAGE is defined, we are compiling the meta-package.
    # LIBWEBEXTRACTOR_LIBRARIES will be provied by the upper level CMakeLists.txt file
else(BUILD_METAPACKAGE)
    find_package(LibWebextractor REQUIRED)
    message( STATUS "Found Libwebextractor. IncDir: ${LIBWEBEXTRACTOR_INCLUDE_DIRS}" )
endif(BUILD_METAPACKAGE)


include_directories(
  ${SOPRANO_INCLUDE_DIR}
  ${CMAKE_SOURCE_DIR}
  ${CMAKE_CURRENT_SOURCE_DIR}
  ${NEPOMUK_INCLUDE_DIR}
  ${CMAKE_CURRENT_BINARY_DIR}
  ${KDE4_INCLUDES}
  ${LIBWEBEXTRACTOR_INCLUDE_DIRS}
  )


link_directories(${LIBWEBEXTRACTOR_LIBRARY_DIRS})
#end raw

set (${src}
    ${lname}plugin.cpp
    ${lname}executivereply.cpp
    ${lname}executive.cpp
    )

#if $kcm
set ( ${lname}_kcm_SRCS
      ${lname}kcm.cpp
    )
#if $kcm_ui
kde4_add_ui_files( ${lname}_kcm_SRCS kcm.ui)
#end if
#end if
#
set (${uname}_PLUGIN_VERSION $version)
set (${uname}_PLUGIN_INTERNAL_VERSION $internal_version)

configure_file(${lname}plugin_config.h.in ${binp}${lname}plugin_config.h  )

#raw
include_directories(
    ${CMAKE_CURRENT_BINARY_DIR}
    )
#end raw

kde4_add_plugin(${tname} ${evalsrc})

target_link_libraries( ${tname}
#raw
    ${LIBWEBEXTRACTOR_LIBRARIES}
    webexplugin
    ${NEPOMUK_LIBRARIES}
    ${KDE4_NEPOMUK_LIBS}
    ${QT_LIBRARIES}
    )
#end raw


install(
  TARGETS ${tname}
#raw
  DESTINATION ${PLUGIN_INSTALL_DIR}
  )
#end raw

install(
  FILES ${tname}.desktop
#raw
  DESTINATION ${SERVICES_INSTALL_DIR}/webextractor
  )
#end raw

#if $kcm

kde4_add_plugin(${kcmname} ${kcmevalsrc})

target_link_libraries( webexplugin_${lname}_kcm
#raw
    ${KDE4_KDECORE_LIBS}
    ${KDE4_KDEUI_LIBRARY}
    webexsettings
    )
#end raw

install(
  TARGETS webexplugin_${lname}_kcm
#raw
  DESTINATION ${PLUGIN_INSTALL_DIR}
  )
#end raw

install(
  FILES webexplugin_${lname}_kcm.desktop
#raw
  DESTINATION ${SERVICES_INSTALL_DIR}/webextractor
  )
#end raw
#end if
