[Desktop Entry]
Exec=kcmshell4 webextractorconfig
#Exec=kcmshell4 powerdevilconfig

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_webexconfig
#X-KDE-Library=kcm_powerdevilconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware
Name=Web Extractor Settings
Name[de]=Einstellungen für Web-Extractor
Name[es]=Preferencias de extracción web
Name[et]=Veebiekstraktori seadistused
Name[fr]=Configuration de l'extracteur Web
Name[ga]=Socruithe an Scríobaire Gréasáin
Name[hu]=Web beolvasó beállítások
Name[km]=ការ​កំណត់​កម្មវិធី​ស្រង់ចេញ​តាមបណ្ដាញ
Name[nds]=Nett-Ruttrecker instellen
Name[nl]=Instellingen voor webextractie
Name[pl]=Ustawienia wydobywania z sieci
Name[pt]=Configuração da Extracção da Web
Name[pt_BR]=Configurações do extrator da Web
Name[sk]=Nastavene Extractor Settings
Name[sv]=Inställningar av webbextrahering
Name[tr]=Web Dışa Aktarım Ayarları
Name[uk]=Параметри видобування інтернет-даних
Name[x-test]=xxWeb Extractor Settingsxx
Name[zh_TW]=網頁展開器設定
